# SITE CONFIGURATION
title: Visual Intelligence and Perception Laboratory # your site title
author: VIPLab # You :P
description: > # Meta description of Homepage
  Visual Intelligence and Perception Laboratory
baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://pnu-viplab.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
future: true

# SEO PLUGIN
social:
  name: VIPLab
  links:
    - https://github.com/pnu-viplab

# THEME SETTINGS
navigation: # Navigation links
  - {name: 'Home', link: '/'}
  - {name: 'Team', link: '/team'}
  - {name: 'Research', link: '/research'}
  - {name: 'Publication', link: '/publication'}
  - {name: 'Lecture', link: '/lecture'}
  - {name: 'Gallery', link: '/gallery'}
  - {name: 'Contact', link: '/contact'}

hero_img: posts/driving_depth.gif # Main background image (path from /assets/img/)

email: viplab@pusan.ac.kr # email for form submission

github_username: pnu-viplab

# google_tag_manager: GTM-XXXXXXX # Uncomment to enable GTM

# BUILD SETTINGS
markdown: kramdown
highlighter: rouge # or pygments or null

sass:
  sass_dir: _sass
  style: compressed
exclude:
  - README.md
  - node_modules
  - script
  - package.json
  - package-lock.json
  - Gemfile
  - Gemfile.lock
  - vendor
  - npm-debug.log
  - gulpfile.babel.js
  - sleek.jpg
  - backup

collections:
  research:
    output: true
    permalink: /research/:name/

compress_html:
  clippings: all

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate

paginate: 7

paginate_path: "/:num/"
