<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title | escape }}</title>
  {% seo title=false %}

  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <meta name="theme-color" content="#ffffff">

  {% if site.google_tag_manager %}

    {% include gtm.html %}

  {% endif %}

  <style class="inlineCSS">

    {% include critical.css %}

  </style>
  <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}"></noscript>
  <script type="text/javascript">
   {% include loadCss.js %}
  </script>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/sw.js');
      });
    }
  </script>
</head>
