.hero {
  margin: 3.75rem auto 0;
  min-height: 12.0rem;
  width: 100%;
  position: relative;
  background-color: #dde5ea;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  @include breakpoint($lg) {
    // margin: 0 auto;
    height: 12rem;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    height: 12.0rem;
    background: rgba(52, 56, 81, .8);
  }
}

.hero--small {
  margin: 3.75rem auto 0;
  min-height: 6.0rem;
  width: 100%;
  position: relative;
  background-color: $dark-light;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;

  // @include breakpoint($lg) {
  //   height: 12em;
  // }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 56, 81, .8);
  }

  .hero__wrap {
    position: relative;
    top: auto;
    left: auto;
    transform: none;

    .hero__meta {
      margin-bottom: 0;
    }
  }
}

.hero__wrap {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  max-width: 90%;
  z-index: 1;

  @include breakpoint($lg) {
    max-width: 60%;
  }

  .hero__title {
    font-size: 1.8em;
    color: $bg-color;

    @include breakpoint($lg) {
      font-size: 2.2em;
    }
  }
}

.page-content {
  max-width: 60.0rem;
  margin: 0 auto;
  padding: 2.5em 0;
  font-size: 0.9em;

  @include breakpoint($lg) {
    padding: 3.75rem 0;
    font-size: 1.0em;
  }
}

.blog {
  background-color: #f9f9f9;
}

.post-list {
  padding-top: 2.5em;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;

  @include breakpoint($lg) {
    padding-top: 5em;
  }
}
