.post-card {
  display: block;
  position: relative;
  width: 100%;
  min-height: 50px;
  border-radius: 4px;
  overflow: hidden;
  background-color: $bg-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 2.25rem; // don't use % value see more: https://github.com/philipwalton/flexbugs/issues/86
  border-bottom: 0;
  transition: box-shadow .25s ease;
  margin-right: 0;

  &:hover,
  &:focus {
    border-bottom: 0;
    box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
  }

  &:last-of-type,
  &:nth-child(n) {
    margin-right: 0;
  }

  //@include breakpoint($md) {
  //  width: 48.4375%;
  //  margin-right: 3.125%;
  //
  //  &:last-of-type,
  //  &:nth-child(2n+2) {
  //    margin-right: 0;
  //  }
  //}
  //
  //@include breakpoint($xl) {
  //  width: 31.25%;
  //  margin-right: 3.125%;
  //
  //  &:nth-child(2n+2) {
  //    margin-right: 3.125%;
  //  }
  //
  //  &:last-of-type,
  //  &:nth-child(3n+3) {
  //    margin-right: 0;
  //  }
  //}

  &__label {
    position: absolute;
    top: 0.45rem;
    left: 1.5rem;
    z-index: 2;
  }

  &__inner {
    display: block;
    position: relative;
    //padding: 1.875rem 1.25rem 0.625rem;
    padding: 0.5rem 0.5rem 0.625rem;
    width: 100%;
    color: $grey;
    border-bottom: 0;

    &:focus,
    &:hover {
      color: $grey;
      border-bottom: 0;
    }
  }

  &__header {
    font-size: 0.9rem;
    margin-bottom: 0.75rem;
  }

  &__meta {
    font-size: 1.0rem;
    font-weight: bold;
    color: rgba(255,255,255,0.8);
  }
}

.post-card__thumb {
  margin: 0;
  background: $bg-color;
  position: relative;
  overflow: hidden;
  height: 2.5em;
  outline: none;
  border-bottom: 0;

  &::after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    // 16:9 = 56.25% = calc(9 / 16 * 100%)
    padding-bottom: 56.25%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.post-card__thumb_tall {
  margin: 0;
  background: $dark-light;
  position: relative;
  overflow: hidden;
  width: 100%;
  outline: none;
  border-bottom: 0;

  &::after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    // 16:9 = 56.25% = calc(9 / 16 * 100%)
    padding-bottom: 40.0%;
  }

  > * {
    position: absolute;
    left: 50%;
    // width: 50%;
    height: 100%;
    transform: translate(-50%, 0%);
    display: block;
  }
}
