.pagination {
  display: flex;
  justify-content: center;
  margin: 1.25rem auto;
}

.pagination a {
  color: black;
  font-size: larger;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  text-decoration: none;
  border: none;
  margin: 0 0.5rem;

  &:link,
  &:visited {
    color: #5dade2;
  }

  &:active,
  &:hover {
    color: #ec7063;
  }
}